.BookList {
  background-color: #66B9BF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
  height: 100%
}
.searchBar {
  display: flex;
  width: 70%;
  margin: 0 auto;
}

.searchBarForm {
  margin-bottom: 2rem;
}

.searchBarBtn {
  margin-left: 1rem;
}