#bookPopupMask {
  display: none;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

#bookPopup {
  font-size: medium;
  background-color: #282c34;
  margin: 5% 25% 0;
  display: none;
  position: fixed;
  width: 50%;
  height: 80%;
  overflow-y: scroll;
  z-index: 9;
  opacity: 0.95;
}

.bookPopupBtn {
  margin: 0 1rem 1rem;
}

.bookTitleImg {
  color: black;
  text-align: center;
  background-color: #e9ecef;
  padding: 1rem 0 2rem 0;
}

.bookPopupImage {
  border-style: solid;
  padding-top: 32px;
}

.bookDetails {
  border-style: solid;
  text-align: left;
  color: white;
  padding: 1rem;
  margin: 2rem 5% 2rem;
}