.header {
  background-color: #07889B;
  text-align: justify;
  color: white;
}

.headerNavBar {
  margin-left: auto;
}

.headerUserIcon {
  margin-right: 5px;
}

.headerText {
  background-color: #07889B;
  text-align: justify;
  color: white;
}

.headerText:hover {
  background-color: #07889B;
  text-align: justify;
  color: #66B9BF;
}