.Login{
  padding: 5rem 25%;
}

.formGroup {
  text-align: left;
  padding: 1rem 2rem 0;
}

.loginFormTitle {
  padding: 0 2rem 0;
}

.loginFormBtn {
  width: 100px;
}

.btnConteiner {
  width: 100%;
}

.toBeCentered {
  width: 100px;
  margin: 0 auto;
}

.fakeLink {
  width: 200px
}