.interestTableBookName {
  border-width:  0;
  background-color: transparent;
  color: black;
  text-decoration: underline;
}

.interestTableBookName:hover {
  border-width:  0;
  background-color: transparent;
  color: gray;
}