.Profile {
  background-color: #66B9BF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.profilePicture {
  border-radius: 50%;
  object-fit: cover;
  width:230px;
  height:230px;
}

.profileCard {
  color: black;
}

.profileCardTitle {
  font-size: xx-large;
}

.userBookList {
  color: black;
}