<h1>Chat Room</h1>
<div>
  <textarea class="form-control" id="chat-log" disabled rows="20"></textarea><br/>
  <p id="username">{{ username }}</p>
  <input class="form-control" id="chat-message-input" type="text" height="200"/><br/>
  <input class="btn btn-success btn-block" id="chat-message-submit" type="button" value="Send"/>
  <script>
     var chatSocket = new WebSocket(
        'ws://' + window.location.host + '/chat/');
     var myName = document.getElementById('username').innerText;
   
     chatSocket.onmessage = function(e) {
       var data = JSON.parse(e.data);
       var msgSender = data['username'];
       var message = data['message'];
       var display = msgSender+ ': '+message;
       document.querySelector('#chat-log').value += (display + '\n');
     };
   
     chatSocket.onclose = function(e) {
       console.error('Chat socket closed unexpectedly');
     };
   
     document.querySelector('#chat-message-input').focus();
   
     document.querySelector('#chat-message-submit').onclick = function(e) {
       var messageInputDom = document.querySelector('#chat-message-input');
       var message = messageInputDom.value;
      
       chatSocket.send(JSON.stringify({
           'username': myName,
           'message': message
       }));
       messageInputDom.value = '';
     };
   </script>
</div>




